body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/img/background.png');
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

h4 {
	font-size: 14px;
}

.btn {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 14px;
	margin: 8px 0 14px 0;
	color: white;
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	text-shadow: 0px 1px 3px rgba(0,0,0,.65);
	outline: none;
	cursor: pointer;
	transition-property: filter;
}

.btn:hover {
	filter: brightness(103%);
}

.btn-bid {
	border: 1px solid #FC7105;
	background: -moz-linear-gradient(top, rgba(250,205,80,1) 0%, rgba(239,154,80,1) 58%, rgba(234,117,1,1) 58%, rgba(242,154,2,1) 94%, rgba(242,154,2,1) 100%);
	background: -webkit-linear-gradient(top, rgba(250,205,80,1) 0%, rgba(239,154,80,1) 58%, rgba(234,117,1,1) 58%, rgba(242,154,2,1) 94%, rgba(242,154,2,1) 100%);
	background: -o-linear-gradient(top, rgba(250,205,80,1) 0%, rgba(239,154,80,1) 58%, rgba(234,117,1,1) 58%, rgba(242,154,2,1) 94%, rgba(242,154,2,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,205,80,1) 0%, rgba(239,154,80,1) 58%, rgba(234,117,1,1) 58%, rgba(242,154,2,1) 94%, rgba(242,154,2,1) 100%);
	background: linear-gradient(to bottom, rgba(250,205,80,1) 0%, rgba(239,154,80,1) 58%, rgba(234,117,1,1) 58%, rgba(242,154,2,1) 94%, rgba(242,154,2,1) 100%);
}
